API_HOST=temp
DEBUG=true
ENV=test
PORT=8109
REDIS_DB=0
REDIS_HOST=localhost:6379
SERVICE_ID=dummy
SERVICE_KEY=dummy
DATABASE_URL=postgres://root@localhost:5432/employee?sslmode=disable
DATABASE_MAX_OPEN_CONNECTIONS=10
DATABASE_MAX_IDLE_CONNECTIONS=10
DUMP_SCHEMA_AFTER_MIGRATION=true
